*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase config — do NOT commit to public repos
app/google-services.json

.kotlin/
